body
{
background-color: #a7e0da;
    
}
/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #Home {
    top: 20px;
    background-color: cadetblue;
  }
  
  #cat {
    top: 80px;
    background-color: darkslategray;
  }
  #contact {
    top: 140px;
    background-color: midnightblue;
  }

  #text1
  {
    margin-left: 600px;
    color: azure;
  }
  #Logo
  {
    top: 250px;
    left: 500px;
    position: absolute;
    border-radius: 100%;
  }
  
HEAD
  /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
  #vechtsport {
    width: 350px;
    height: 300px;
    position: relative;
    left: 300px;
  }
  /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */

  #balsport {
    width: 350px;
    height: 300px;
    position: relative;
    left: 450px;
  }
#water {
  width: 350px;
  height: 300px;
  position: relative;
  left: 300px;
}
#overigesport {
  width: 350px;
  height: 300px;
  position: relative;
  left: 450px;
}
#voetbal {
  width: 350px;
  height: 300px;
  position: relative;
  left: 300px;
}
#rugby {
  width: 350px;
  height: 300px;
  position: relative;
  left: 450px;
}
#handbal {
  width: 350px;
  height: 300px;
  position: relative;
  left: 300px;
}
#honkbal {
  width: 350px;
  height: 300px;
  position: relative;
  left: 450px;
}
#judo {
  width: 350px;
  height: 300px;
  position: relative;
  left: 300px;
}
#kickboksen {
  width: 350px;
  height: 300px;
  position: relative;
  left: 450px;
}
#karate {
  width: 350px;
  height: 300px;
  position: relative;
  left: 300px;
}
#jiujitsu {
  width: 350px;
  height: 300px;
  position: relative;
  left: 450px;
}
#wedstrijdzwemmen {
  width: 350px;
  height: 300px;
  position: relative;
  left: 300px;
}
#waterpolo {
  width: 350px;
  height: 300px;
  position: relative;
  left: 450px;
}
#badr
{
  width: 100px;
  left: 200px;
  position: absolute;
}
#mail{
width: 150px;
position: relative;
top: 75px;
left: 150px;
}
#insta{
width: 150px;
position: relative;
top: -280px;
left: -150px;
}
#face{
position: relative;
width: 150px;
top: 80px;
left: 0px;
}
#rugby1 {
  width: 450px;
  height: 300px;
  position: absolute;
  left: 200px;
  top: 100px;
}
#voetbal1 {
  width: 450px;
  height: 300px;
  position: absolute;
  left: 200px;
  top: 100px;
}