body
{
    background-color: mediumturquoise;
}
/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #Home {
    top: 20px;
    background-color: #04AA6D;
  }
  
  #cat {
    top: 80px;
    background-color: #2196F3; /* Blue */
  }
  
  #contact {
    top: 140px;
    background-color: #f44336; /* Red */
  }

  #text1
  {
    margin-left: 555px;
  }
  h2{
    text-decoration: none;
  }

  #Logo
  {
    top: 250px;
    left: 600px;
    position: absolute;
    border-radius: 100%;
  }
  
  
  #vechtsport {
    width: 350px;
    height: 300px;
    position: relative;
    left: 300px;
  }
